*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
*.apk
app/debug
jjdxm-ijkplayer/build
anglePop/build
vlayout/build
citypicker/build
IosDialog/build
MeetingCamera/build
photolib/build
arms/build
*/build